
@{
    ViewData["Title"] = "График";
    Layout = null;
}

<style>

    .chart {
        width: 80%;
        height: 100%;
        float: left;
    }

    .sidepanel {
        background: rgba(247, 247, 247, 1);
        width: 20%;
        height: 100%;
        float: left;
    }

    .sidepanel-title {
        width: 100%;
        font-size: 3em;
        color: #ffffff;
        display: block;
        text-align: center;
    }

    #loading {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100vw;
        height: 100vh;
        /*background-color: rgba(192, 192, 192, 0.5);*/
        /*background-image: url("/Images/sun_preloader.gif");*/
        /*background-repeat: no-repeat;*/
        background-position: center;
    }
</style>

@Html.Partial("_loadingPartial")

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>График</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="padding: 0px;">
    <script src="~/lib/chart.js/Chart.js"></script>
    <div class="container-fluid">
        <!-- Project-->
        @if (ViewBag.KATOType == "adm1pol")
        {
            
        }
        @if (ViewBag.KATOType == "adm2pol")
        {
            
        }
        @if (ViewBag.KATOType == "adm3pol")
        {
            
        }
        @if (ViewBag.KATOType == "pastALA")
        {

        }
        <div class="project">
            <div class="row bg-white has-shadow">
                <div class="col alert alert-primary m-3">
                    <div class="project-title d-flex align-items-center">
                        <div class="text-justify">
                            @if (ViewBag.KATOType == "pastALA")
                            {
                                <h5 class="alert-heading">Пастбищный выдел №(@(ViewBag.ClassId))</h5>
                                <p class="m-0">Класс: @ViewBag.class_name</p>
                                <p class="m-0">Отдел: @ViewBag.otdely_name</p>
                                <p class="m-0">Подтип: @ViewBag.subtype_name</p>
                                <p class="m-0">Группа: @ViewBag.group_name</p>
                            }
                            @if (ViewBag.KATOType == "adm1pol")
                            {
                                <h5 class="alert-heading">Дополнительная информация</h5>
                                <p class="m-0">КАТО: @ViewBag.KATO</p>
                                <smp class="p" all>Область: @ViewBag.KATOName</smp>
                            }
                            @if (ViewBag.KATOType == "adm2pol")
                            {
                                <h5 class="alert-heading">Дополнительная информация</h5>
                                <p class="m-0">КАТО: @ViewBag.KATO</p>
                                <p class="m-0">Область: @ViewBag.OblName</p>
                                <p class="m-0">Район: @ViewBag.KATOName</p>
                            }
                            @if (ViewBag.KATOType == "adm3pol")
                            {
                                <h5 class="alert-heading">Дополнительная информация</h5>
                                <p class="m-0">КАТО: @ViewBag.KATO</p>
                                <p class="m-0">Область: @ViewBag.OblName</p>
                                <p class="m-0">Район: @ViewBag.RayName</p>
                                <p class="m-0">Сельский округ: @ViewBag.KATOName</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Line Charts-->
            <div class="col-lg-9">
                <div class="line-chart-example card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Диаграмма межгодовой изменчивости NDVI</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart" style="max-height: 600px;"></canvas>
                        <canvas id="myChart" style="max-height: 600px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="line-chart-example card no-margin-bottom">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Конфигурировать:</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <label class="control-label">Годы</label><br />
                            @*<select asp-items="ViewBag.Year" name="Year" class="form-control" id="Year" multiple="multiple"></select>*@
                            @Html.ListBox("Year", (IEnumerable<SelectListItem>)ViewBag.Year, htmlAttributes: new { @class = "form-control", SelectionMode = "Multiple", @id = "Year", AutoPostBack = "true" })<br />
                            <input type="button" id="update" class="btn btn-outline-primary btn-block" value="Обновить" onclick="Update()" /><br />
                            <input type="button" id="update" class="btn btn-outline-primary btn-block" value="Сохранить в Excel" onclick="SaveToExcel()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />

    @*<script>
            document.getElementById("loading").style.display = "block";
        </script>*@

    <script type="text/javascript">
        //$(function () {
        //    $('[id*=Year]').multiselect({
        //        includeSelectAllOption: true
        //    });
        //});
    </script>

    <script>
        var myLineChart = null;
        var datacurrent = [],
            dataaverage = [],
            yearForExcel = [],
            valueForExcel = [];
        var Years = $('#Year').val();

        if ("@ViewBag.KATOType" != 'pastALA') {
            $.ajax({
                url: '@Url.Action("GetKATOZonalStatChart2")',
                data: {
                    KATO: "@ViewBag.KATO",
                    Year: Years,
                    ModisSource: "@ViewBag.ModisSource",
                    ModisProduct: "@ViewBag.ModisProduct",
                    ModisDataSet: "@ViewBag.ModisDataSet"
                },
                type: 'POST',
                success: function (data) {
                    var optionhtml = '';
                    var oneYear,
                        check;
                    var labelYears = [];
                    $.each(data.years, function (i) {
                        yearForExcel.push(data.years[i]);
                        oneYear = data.years[i];
                        if (check != oneYear) {
                            labelYears.push(data.years[i]);
                        }
                        else {
                            labelYears.push("");
                        }
                        check = data.years[i];
                    });
                    $.each(data.current, function (i) {
                        datacurrent.push(data.current[i] / 10000);
                        valueForExcel.push(data.current[i] / 10000);
                    });
                    $.each(data.average, function (i) {
                        dataaverage.push(data.average[i] / 10000);
                    });
                    var ctx = document.getElementById("myChart").getContext('2d');
                    if (myLineChart != null) {
                        myLineChart.destroy();
                    }
                    $('#chartdiv').height(200);

                    myLineChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labelYears,
                            datasets: [{
                                label: "Среднее",
                                type: "line",
                                borderColor: "#000",
                                data: dataaverage,
                                fill: false
                            },{
                                    label: "Значение года",
                                    type: "bar",
                                    backgroundColor: "#3FBF3F",
                                    //backgroundColorHover: "#3FBF3F",
                                    data: datacurrent
                            }
                            ]
                        }
                    });
                },
                error: function () {
                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("GetPastZonalStatChart2")',
                data: {
                    PastId: "@ViewBag.PastId",
                    Year: Years,
                    ModisSource: "@ViewBag.ModisSource",
                    ModisProduct: "@ViewBag.ModisProduct",
                    ModisDataSet: "@ViewBag.ModisDataSet"
                },
                type: 'POST',
                success: function (data) {
                    var optionhtml = '';
                    var oneYear,
                        check;
                    var labelYears = [];
                    $.each(data.years, function (i) {
                        yearForExcel.push(data.years[i]);
                        oneYear = data.years[i];
                        if (check != oneYear) {
                            labelYears.push(data.years[i]);
                        }
                        else {
                            labelYears.push("");
                        }
                        check = data.years[i];
                    });
                    $.each(data.current, function (i) {
                        datacurrent.push(data.current[i] / 10000);
                        valueForExcel.push(data.current[i] / 10000);
                    });
                    $.each(data.average, function (i) {
                        dataaverage.push(data.average[i] / 10000);
                    });
                    var ctx = document.getElementById("myChart").getContext('2d');
                    if (myLineChart != null) {
                        myLineChart.destroy();
                    }
                    $('#chartdiv').height(200);

                    myLineChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labelYears,
                            datasets: [{
                                label: "Среднее",
                                type: "line",
                                borderColor: "#000",
                                data: dataaverage,
                                fill: false
                            }, {
                                label: "Значение года",
                                type: "bar",
                                backgroundColor: "#3FBF3F",
                                backgroundColorHover: "#3FBF3F",
                                data: datacurrent
                            }
                            ]
                        }
                    });
                },
                error: function () {
                }
            });
        }

        function Update() {
            datacurrent = [];
            dataaverage = [];
            yearForExcel = [];
            valueForExcel = [];
            var Years = $('#Year').val();
            if ("@ViewBag.KATOType" != 'pastALA') {
                $.ajax({
                    url: '@Url.Action("GetKATOZonalStatChart2")',
                    data: {
                        KATO: "@ViewBag.KATO",
                        Year: Years,
                        ModisSource: "@ViewBag.ModisSource",
                        ModisProduct: "@ViewBag.ModisProduct",
                        ModisDataSet: "@ViewBag.ModisDataSet"
                    },
                    type: 'POST',
                    success: function (data) {
                        var optionhtml = '';
                        var oneYear,
                            check;
                        var labelYears = [];
                        $.each(data.years, function (i) {
                            yearForExcel.push(data.years[i]);
                            oneYear = data.years[i];
                            if (check != oneYear) {
                                labelYears.push(data.years[i]);
                            }
                            else {
                                labelYears.push("");
                            }
                            check = data.years[i];
                        });
                        $.each(data.current, function (i) {
                            datacurrent.push(data.current[i] / 10000);
                            valueForExcel.push(data.current[i] / 10000);
                        });
                        $.each(data.average, function (i) {
                            dataaverage.push(data.average[i] / 10000);
                        });
                        var ctx = document.getElementById("myChart").getContext('2d');
                        if (myLineChart != null) {
                            myLineChart.destroy();
                        }
                        $('#chartdiv').height(200);
                        myLineChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labelYears,
                                datasets: [{
                                    label: "Среднее",
                                    type: "line",
                                    borderColor: "#000",
                                    data: dataaverage,
                                    fill: false
                                }, {
                                    label: "Значение года",
                                    type: "bar",
                                    backgroundColor: "#3FBF3F",
                                    //backgroundColorHover: "#3FBF3F",
                                    data: datacurrent
                                }
                                ]
                            }
                        });
                        myLineChart.update();
                    },
                    error: function () {
                    }
                });
            }
            else {
                $.ajax({
                    url: '@Url.Action("GetPastZonalStatChart2")',
                    data: {
                        PastId: "@ViewBag.PastId",
                        Year: Years,
                        ModisSource: "@ViewBag.ModisSource",
                        ModisProduct: "@ViewBag.ModisProduct",
                        ModisDataSet: "@ViewBag.ModisDataSet"
                    },
                    type: 'POST',
                    success: function (data) {
                        var optionhtml = '';
                        var oneYear,
                            check;
                        var labelYears = [];
                        $.each(data.years, function (i) {
                            yearForExcel.push(data.years[i]);
                            oneYear = data.years[i];
                            if (check != oneYear) {
                                labelYears.push(data.years[i]);
                            }
                            else {
                                labelYears.push("");
                            }
                            check = data.years[i];
                        });
                        $.each(data.current, function (i) {
                            datacurrent.push(data.current[i] / 10000);
                            valueForExcel.push(data.current[i] / 10000);
                        });
                        $.each(data.average, function (i) {
                            dataaverage.push(data.average[i] / 10000);
                        });
                        var ctx = document.getElementById("myChart").getContext('2d');
                        if (myLineChart != null) {
                            myLineChart.destroy();
                        }
                        $('#chartdiv').height(200);

                        myLineChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labelYears,
                                datasets: [{
                                    label: "Среднее",
                                    type: "line",
                                    borderColor: "#000",
                                    data: dataaverage,
                                    fill: false
                                }, {
                                    label: "Значение года",
                                    type: "bar",
                                    backgroundColor: "#3FBF3F",
                                    backgroundColorHover: "#3FBF3F",
                                    data: datacurrent
                                }
                                ]
                            }
                        });
                        myLineChart.update();
                    },
                    error: function () {
                    }
                });
            }
        }

        function SaveToExcel() {
            var title = ["Среднее"];
            var oneYear,
                check;
            for (var i = 0; i < yearForExcel.length; i++) {
                oneYear = yearForExcel[i];
                if (check != oneYear) {
                    title.push(yearForExcel[i]);
                }
                check = yearForExcel[i];
            }
            if ("@ViewBag.KATOType" == "adm1pol")
            {
                var KATOName = "Область";
            }
            if ("@ViewBag.KATOType" == "adm2pol")
            {
                var KATOName = "Район";
            }
            if ("@ViewBag.KATOType" == "adm3pol")
            {
                var KATOName = "Сельский_округ";
            }
            if ("@ViewBag.KATOType" == "pastALA")
            {
                var KATOName = "Пастбищный_выдел";
            }
            document.getElementById("loading").style.display = "block";
            $.ajax({
                url: '@Url.Action("SaveToExcelChart2")',
                data: {
                    KATOName: KATOName,
                    KATO: @ViewBag.KATO,
                    Title: title,
                    Average: dataaverage,
                    Years: yearForExcel,
                    Values: valueForExcel
                },
                type: 'POST',
                success: function (data) {
                    if (data.Error == null) {
                        window.location = data.filepath;
                    }
                    else {
                        alert(data.Error);
                    }
                    document.getElementById("loading").style.display = "none";
                },
                error: function () {
                    document.getElementById("loading").style.display = "none";
                }
            });
        }
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>