
@{
    ViewData["Title"] = "ViewModis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/ol/ol.css" rel="stylesheet" />
<script src="~/lib/ol/ol.js"></script>
<h2>ViewModis</h2>

<div class="col-md-4">
    <label class="control-label">KATOType</label>
    @Html.DropDownList("KATOType", (IEnumerable<SelectListItem>)ViewBag.KATOType, htmlAttributes: new { @class = "form-control", @id = "KATOType", @onchange = "ChangeKATOType()" })

    <label class="control-label">ModisSource</label>
    @Html.DropDownList("ModisSource", (IEnumerable<SelectListItem>)ViewBag.ModisSource, htmlAttributes: new { @class = "form-control", @id = "ModisSource", @onchange = "ChangeModisSource()" })

    <label class="control-label">ModisProduct</label>
    @Html.DropDownList("ModisProduct", (IEnumerable<SelectListItem>)ViewBag.ModisProduct, htmlAttributes: new { @class = "form-control", @id = "ModisProduct", @onchange = "ChangeModisProduct()" })

    <label class="control-label">ModisDataSet</label>
    <select asp-items="ViewBag.ModisDataSet" name="ModisDataSet" class="form-control" id="ModisDataSet" onchange="ChangeModisDataSet()"></select>

    <label class="control-label">Year</label>
    <select asp-items="ViewBag.Year" name="Year" class="form-control" id="Year" onchange="ChangeYear()"></select>

    <label class="control-label">Date</label>
    <select name="Date" class="form-control" id="Date" onchange="ChangeDate()"></select>

    @*<label class="control-label">Date</label>
    @{
        DateTime Date = new DateTime();
        Date = DateTime.Today;
    }
    <input asp-for="@Date" id="Date" name="Date" type="date" class="form-control" onchange="ChangeDate()" />*@
</div>

<div id="map"></div>

<script type="text/javascript">
    var layers = [];
    layers.push(new ol.layer.Tile({
        source: new ol.source.OSM()
    }));
    layers[0].set('name', 'OSM');

    var geoserverPort = '8080',
        geoserverAddress = window.location.hostname;

    var Source_Modis = new ol.source.TileWMS({
        url: 'http://' + geoserverAddress + ':' + geoserverPort + '/geoserver/GeoServer/wms?',
        params: {
            'LAYERS': 'GeoServer:No',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_Modis = new ol.layer.Tile({
        source: Source_Modis
    });
    Layer_Modis.setOpacity(0.80);
    layers.push(Layer_Modis);

    var Source_KATO = new ol.source.TileWMS({
        url: 'http://' + geoserverAddress + ':' + geoserverPort + '/geoserver/GeoServer/wms?',
        params: {
            'LAYERS': 'GeoServer:adm1pol',
            'VERSION': '1.1.0',
            'FORMAT': 'image/png',
            'TILED': true
        },
        serverType: 'geoserver'
    });
    var Layer_KATO = new ol.layer.Tile({
        source: Source_KATO
    });
    Layer_KATO.setOpacity(0.80);
    layers.push(Layer_KATO);

    var source = new ol.source.Vector();
    var layer = new ol.layer.Vector({
        source: source
    });

    var map = new ol.Map({
        target: 'map',
        layers: layers,
        view: new ol.View({
            center: ol.proj.fromLonLat([69, 48]),
            zoom: 4
        })
    });
</script>

<script>
    function ChangeModisSource() {
        $.ajax({
            url: '@Url.Action("GetModisProductByModisSource", "GDAL")',
            data: { ModisSource: $('#ModisSource').val() },
            type: 'POST',
            success: function (data) {
                var optionhtml = '';
                $.each(data, function (i) {
                    optionhtml += '<option value="' + data[i]['name'] + '"' +
                        (data[i]['name'] == $('#ModisProduct').val() ? 'selected' : '') +
                        '>' + data[i]['name'] +
                        '</option>';
                });
                $("#ModisProduct").empty();
                $('#ModisProduct').append(optionhtml);
                ChangeModisProduct();
            },
            error: function () {
            }
        });
    };

    function ChangeModisProduct() {
        $.ajax({
            url: '@Url.Action("GetModisDataSets", "GDAL")',
            data: { ModisProduct: $('#ModisProduct').val() },
            type: 'POST',
            success: function (data) {
                var optionhtml = '';
                $.each(data, function (i) {
                    optionhtml += '<option value="' + data[i]['name'] + '"' +
                        (data[i]['indexName'] == $('#File').val() ? 'selected' : '') +
                        '>' + data[i]['indexName'] +
                        '</option>';
                });
                $("#ModisDataSet").empty();
                $('#ModisDataSet').append(optionhtml);
                ChangeModis();
            },
            error: function () {
            }
        });
    };

    function ChangeYear() {
        $.ajax({
            url: '@Url.Action("GetYearDates")',
            data: { Year: $('#Year').val() },
            type: 'POST',
            success: function (data) {
                var optionhtml = '';
                $.each(data.dates, function (i) {
                    optionhtml += '<option value="' + data.dates[i]['value'] + '"' +
                        //(data[i]['text'] == $('#File').val() ? 'selected' : '') +
                        '>' + data.dates[i]['text'] +
                        '</option>';
                });
                $("#Date").empty();
                $('#Date').append(optionhtml);
                ChangeModis();
            },
            error: function () {
            }
        });
    };

    function ChangeModisDataSet() {
        ChangeModis();
    };

    function ChangeDate() {
        ChangeModis();
    };

    function ChangeModis() {
        //var d = new Date($('#Date').val());

        //var start = new Date(d.getFullYear(), 0, 0);
        //var diff = d - start;
        //var oneDay = 1000 * 60 * 60 * 24;
        //var day = Math.floor(diff / oneDay).toString();

        //var year = d.getFullYear();

        var year = $('#Year').val();
        var day = $('#Date').val();

        if (day.length < 3) day = '0' + day;
        if (day.length < 3) day = '0' + day;

        var layer_Modis = $('#ModisSource').val();
        layer_Modis += '_' + $('#ModisProduct').val();
        layer_Modis += '_A' + [year, day].join('');
        layer_Modis += '_' + $("#ModisDataSet").val();

        var Source_New = new ol.source.TileWMS({
            url: 'http://' + geoserverAddress + ':' + geoserverPort + '/geoserver/GeoServer/wms?',
            params: {
                'LAYERS': 'GeoServer:' + layer_Modis,
                'VERSION': '1.1.0',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver'
        });
        var l = map.getLayers().getArray()[1];
        l.setSource(Source_New);
    }

    function ChangeKATOType() {
        var Source_New = new ol.source.TileWMS({
            url: 'http://' + geoserverAddress + ':' + geoserverPort + '/geoserver/GeoServer/wms?',
            params: {
                'LAYERS': 'GeoServer:' + $("#KATOType").val(),
                'VERSION': '1.1.0',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver'
        });
        var l = map.getLayers().getArray()[2];
        l.setSource(Source_New);
    }

    $(document).ready(function () {
        ChangeYear();
    });
</script>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>*@
<script src="~/lib/chart.js/Chart.js"></script>
<canvas id="myChart" width="400" height="200"></canvas>
<script>
    var myLineChart = null;
    map.on('singleclick', function (evt) {
        var viewResolution = (map.getView().getResolution());
        var url = layers[2].getSource().getGetFeatureInfoUrl(
            evt.coordinate, viewResolution, 'EPSG:3857',
            {
                'INFO_FORMAT': 'text/javascript'
                //'FEATURE_COUNT': '10000'
            });
        if (url) {
            var parser = new ol.format.GeoJSON();
            $.ajax({
                url: url,
                dataType: 'jsonp',
                jsonpCallback: 'parseResponse',
                error: function (xhr, status, error) {
                    //alert(err.Message);
                }
            }).then(function (response) {
                var result = parser.readFeatures(response);
                if (result.length>0) {
                    //var d = new Date($('#Date').val());
                    $.ajax({
                        url: '@Url.Action("GetKATOZonalStat")',
                        data: {
                            KATO: result[0].get('kato_te'),
                            Year: $('#Year').val(),
                            ModisSource: $('#ModisSource').val(),
                            ModisProduct: $('#ModisProduct').val(),
                            ModisDataSet: $('#ModisDataSet').val()
                        },
                        type: 'POST',
                        success: function (data) {
                            var optionhtml = '';
                            var datacurrent = [],
                                datamin = [],
                                datamax = [],
                                dataaverage = [];
                            $.each(data.current, function (i) {
                                datacurrent.push(data.current[i]['value']);
                            });
                            $.each(data.min, function (i) {
                                datamin.push(data.min[i]);
                            });
                            $.each(data.max, function (i) {
                                datamax.push(data.max[i]);
                            });
                            $.each(data.average, function (i) {
                                dataaverage.push(data.average[i]);
                            });
                            var ctx = document.getElementById("myChart").getContext('2d');
                            if (myLineChart != null) {
                                myLineChart.destroy();
                            }
                            myLineChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: [1, 17, 33, 49, 65, 81, 97, 113, 129, 145, 161, 177, 193, 209, 225, 241, 257, 273, 289, 305, 321, 337, 353],
                                    datasets: [{
                                        label: $('#Year').val(),
                                        data: datacurrent, //[12, 19, 3, 5, 2, 3],
                                        backgroundColor: 'rgba(255,99,132,1)',
                                        borderColor: 'rgba(255,99,132,1)',
                                        borderWidth: 1,
                                        fill: false
                                    },
                                        {
                                            label: 'Minimum',
                                            data: datamin,
                                            backgroundColor: 'rgba(255, 159, 64, 1)',
                                            borderColor: 'rgba(255, 159, 64, 1)',
                                            borderWidth: 1,
                                            fill: false
                                        },
                                        {
                                            label: 'Maximum',
                                            data: datamax,
                                            backgroundColor: 'rgba(0, 240, 64, 1)',
                                            borderColor: 'rgba(0, 240, 64, 1)',
                                            borderWidth: 1,
                                            fill: false
                                        },
                                        {
                                            label: 'Average',
                                            data: dataaverage,
                                            backgroundColor: 'rgba(57, 26, 190, 1)',
                                            borderColor: 'rgba(57, 26, 190, 1)',
                                            borderWidth: 1,
                                            fill: false
                                        }
                                    ]
                                }
                            });
                        },
                        error: function () {
                        }
                    });
                }
            }
            )
        }
    });


</script>