@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Administrator"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Administrator"]</h2>

<a class="btn btn-default" asp-controller="Home" asp-action="Test">@SharedLocalizer["Test"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="Users" asp-action="Index">@SharedLocalizer["Users"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="Hangfire" asp-action="Index">@SharedLocalizer["Hangfire"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="ZonalStatKATOes" asp-action="Index">@SharedLocalizer["ZonalStatKATOes"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="CoordinateSystems" asp-action="Index">@SharedLocalizer["CoordinateSystems"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="ModisSources" asp-action="Index">@SharedLocalizer["ModisSources"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="ModisProducts" asp-action="Index">@SharedLocalizer["ModisProducts"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="ModisDataSets" asp-action="Index">@SharedLocalizer["ModisDataSets"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="ModisSpans" asp-action="Index">@SharedLocalizer["ModisSpans"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GDAL" asp-action="DownloadModis">@SharedLocalizer["DownloadModis"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GDAL" asp-action="DownloadModisDelta">@SharedLocalizer["DownloadModisDelta"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GDAL" asp-action="ModisMosaic">@SharedLocalizer["ModisMosaic"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GDAL" asp-action="Reproject">@SharedLocalizer["Reproject"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GDAL" asp-action="ZonalStatKATO">@SharedLocalizer["ZonalStatKATO"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="Logs" asp-action="Index">@SharedLocalizer["Log"]</a>