
@{
    ViewData["Title"] = "DownloadModisDelta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
<h2>DownloadModisDelta</h2>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <h4>@ViewBag.Message</h4>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DownloadModisDelta">
            <div class="form-group">
                <label class="control-label">ModisSpan</label>
                @Html.DropDownList("ModisSpan", (IEnumerable<SelectListItem>)ViewBag.ModisSpan, htmlAttributes: new { @class = "form-control", @id = "ModisSpan", @multiple = "multiple" })
            </div>
            <div class="form-group">
                <label class="control-label">ModisSpan</label>
                @Html.DropDownList("ModisSource", (IEnumerable<SelectListItem>)ViewBag.ModisSource, htmlAttributes: new { @class = "form-control", @id = "ModisSource", @onchange = "ChangeModisSource()" })
            </div>
            <div class="form-group">
                <label class="control-label">ModisProduct</label>
                @Html.DropDownList("ModisProduct", (IEnumerable<SelectListItem>)ViewBag.ModisProduct, htmlAttributes: new { @class = "form-control", @id = "ModisProduct" })
            </div>
            <div class="form-group">
                <label class="control-label">Amount of days</label>
                <input id="Delta" name="Delta" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">DateFinish</label>
                <input id="DateFinish" name="DateFinish" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById('DateStart').valueAsDate = new Date();
    document.getElementById('DateFinish').valueAsDate = new Date();

    function ChangeModisSource() {
        $.ajax({
            url: '@Url.Action("GetModisProductByModisSource")',
            data: { ModisSource: $('#ModisSource').val() },
            type: 'POST',
            success: function (data) {
                var optionhtml = '';
                $.each(data, function (i) {
                    optionhtml += '<option value="' + data[i]['name'] + '"' +
                        (data[i]['name'] == $('#ModisProduct').val() ? 'selected' : '') +
                        '>' + data[i]['name'] +
                        '</option>';
                });
                $("#ModisProduct").empty();
                $('#ModisProduct').append(optionhtml);
            },
            error: function () {
            }
        });
    };

    $('#ModisSpan').multiselect({
        includeSelectAllOption: true,
        //nonSelectedText: $('#NothingSelected').val(),
        //selectAllText: $('#SelectAll').val(),
        //allSelectedText: $('#All').val(),
        //nSelectedText: $('#selected').val(),
        maxHeight: 270
    });
</script>