@model GeoServer.Models.ZonalStatKATOIndexPageViewModel
@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@using System.Net
@{
    ViewData["Title"] = SharedLocalizer["ZonalStatKATOes"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["ZonalStatKATOes"]</h2>
<p>
    <a asp-action="Create">@SharedLocalizer["Create"]</a>
</p>
@using (Html.BeginForm("Index", "ZonalStatKATOes", new { SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  }, FormMethod.Get))
{
    @Html.Editor("SortOrder", null, new { htmlAttributes = new { @hidden = "hidden" }, value = ViewBag.SortOrder })
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                             new { SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                             new { Page = Model.Pager.CurrentPage - 1, SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                             new { Page = page, SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                             new { Page = Model.Pager.CurrentPage + 1, SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                             new { Page = Model.Pager.TotalPages, SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
            }
        </ul>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(b => b.Items.FirstOrDefault().KATO).ToString(), "Index",
                             new { SortOrder = ViewBag.KATOSort, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                    <br />
                    @Html.Editor("KATO", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(b => b.Items.FirstOrDefault().Year).ToString(), "Index",
                             new { SortOrder = ViewBag.YearSort, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                    <br />
                    @Html.Editor("Year", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(b => b.Items.FirstOrDefault().DayOfYear).ToString(), "Index",
                             new { SortOrder = ViewBag.DayOfYearSort, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                    <br />
                    @Html.Editor("DayOfYear", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(b => b.Items.FirstOrDefault().ModisSource).ToString(), "Index",
                             new { SortOrder = ViewBag.ModisSourceSort, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                    <br />
                    @Html.Editor("ModisSource", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(b => b.Items.FirstOrDefault().ModisProduct).ToString(), "Index",
                             new { SortOrder = ViewBag.KATOSort, KATO = ViewBag.ModisProductFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                    <br />
                    @Html.Editor("ModisProduct", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(b => b.Items.FirstOrDefault().DataSet).ToString(), "Index",
                             new { SortOrder = ViewBag.DataSetSort, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                    <br />
                    @Html.Editor("DataSet", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.DisplayNameFor(b => b.Items.FirstOrDefault().Value)
                </th>
                <th>
                    <br />
                    <input type="submit" value="@SharedLocalizer["Find"]" class="btn btn-default">
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KATO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModisSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModisProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
        }
    </table>
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                             new { SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                             new { Page = Model.Pager.CurrentPage - 1, SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                             new { Page = page, SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                             new { Page = Model.Pager.CurrentPage + 1, SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                             new { Page = Model.Pager.TotalPages, SortOrder = ViewBag.SortOrdert, KATO = ViewBag.KATOFilter, Year = ViewBag.YearFilter, DayOfYear = ViewBag.DayOfYearFilter, ModisSource = ViewBag.ModisSourceFilter, ModisProduct = ViewBag.ModisProductFilter, DataSet = ViewBag.DataSetFilter  })
                </li>
            }
        </ul>
    }
}
