@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = SharedLocalizer["LogIn"];
}

<body class="bg-white">
    <div class="form-signin">
        <div class="text-center mt-5 mb-4">
            <img class="mb-4" src="~/images/user.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">@ViewData["Title"]</h1>
            <p>Works in latest Chrome, Safari, and Firefox.</a></p>
        </div>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <p class="text-center text-info">@SharedLocalizer["UseALocalAccountToLogIn"]</p>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="font-weight-bold text-dark" asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold text-dark" asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="text-info" asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">@SharedLocalizer["LogIn"]</button>
            </div>
            <div class="form-group">
                @*<p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>*@
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@SharedLocalizer["RegisterAsANewUser"]</a>
                </p>
            </div>
        </form>
    </div>
</body>





@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
